@using susamQr.Models.Entities

<!doctype html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <!-- Seo Meta Bilgileri -->
    <title>@ViewData["og:title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, user-scalable=no">
    <link rel="icon" type="image/png" href="@ViewData["SiteLogo"]">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@ViewData["SiteDesc"]">
    <meta name="keywords" content="@ViewData["SiteKeywords"]">
    <meta property="og:title" content="@ViewData["og:title"]" />
    <meta property="og:image" content="/@ViewData["SiteLogo"]" />
    <meta property="og:site_name" content="@ViewData["og:site_name"]" />
    <meta property="og:url" content="/" />
    <meta charset="utf-8">
    <!-- Material design icons CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="~/client/assets/css/style.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700,800,900|Playfair+Display:400,700,900" rel="stylesheet">
</head>
<body>
	<div id="app">
		<!-- Açılış Videosu Modalı -->
		<div id="intro-modal" class="modal" style="display:none;">
			<video id="intro-video" autoplay muted playsinline>
				<source src="@ViewData["mainVideo"]" type="video/mp4">
			</video>
			<button id="skip-intro" class="intro-btn">Menüyü Gör</button>
		</div>

		@RenderBody()
	</div>

	<!-- Framework7 ve Özel JS Dosyaları -->
	<script src="~/client/assets/js/framework7.js"></script>
	<script src="~/client/assets/js/routes.js"></script>
	<script src="~/client/assets/js/app.js"></script>
	<!-- Açılış Videosu Stilleri -->
	<style>

	</style>
</body>

</html>
