@using susamQr.Models.Entities

@model Category
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.Name</h4>
<hr class="item-order-line" />


<div class="row">
    @foreach (var i in Model.Products)
    {
        <div class="col-12 col-lg-6">
            <div class="card shadow-sm border-0 mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 col-md-2 col-lg-2 align-self-center ">
                            <figure class="product-image">
                                <img src="@i.ImageUrl"
                                     alt="@i.Name" class="">
                            </figure>
                        </div>
                        <div class="col">
                            <a href="/urun/@i.Slug"
                               class="text-dark mb-1 h6 d-block">@i.Name</a>
                            <p class="text-secondary small mb-2">@i.Description</p>
                            <p class="text-secondary small text-mute text-ustucizgili mb-0"
                               style="min-height:20px"></p>
                            <h5 class="text-success font-weight-normal mb-0">@i.Price.Value.ToString("N2")₺</h5>
                            <p class="text-secondary small text-mute mb-0"></p>
                        </div>
                    </div>
                    <a href="/urun/@i.Slug"
                       class="btn btn-default button-rounded-36 shadow-sm float-bottom-right">
                        <i class="fa fa-arrow-right md-18"></i>
                    </a>
                </div>
            </div>


        </div>
    }
</div>