@using susamQr.Models.Entities
@{

}
<div class="view view-main view-init ios-edges" data-url="/">
	<div class="page page-home">
		<!-- navbar -->
		<div class="navbar navbar-home">
			<div class="navbar-inner">
				<div class="block">
					<div class="row text-center">
						<div class="col-20">
							<a href="/secim/" class="link icon-link">
								<i class="ti-align-left"></i>
							</a>
						</div>
						<div class="col-20">
							<a href="/kategoriler/" class="link icon-link">
								<i class="ti-layers"></i>
							</a>
						</div>

						<div class="col-20">
							<a href="#" id="whatsapp-link" target="_blank" class="link icon-link whatsapp">
								<i class="fa-brands fa-whatsapp"></i>
							</a>
						</div>
						<div class="col-20">
							<a href="#" id="instagram-link" class="link icon-link">
								<i class="ti-instagram"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end navbar -->
		<div class="page-content">

			<!-- title header -->
			<div class="title-header">
				<div class="container">
					<div class="row align-items-center">
						<!-- Başlık Alanı -->
						<div class="col-100">
							<div class="logos">
								<h2>@ViewData["og:title"]</h2>
							</div>
						</div>
						<!-- Arama Kutusu -->
						<div class="col-100">
							<div id="searchModal" class="search-modal">
								<div class="search-container">
									<input type="text" id="searchInput" placeholder="Ürün ara...">
									<div id="searchResults"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- end title header -->
			<!-- slider -->
			<div class="slider">
				<div data-space-between="10" data-slides-per-view="auto" class="swiper-container swiper-init demo-swiper-auto">
					<div class="swiper-wrapper">
						@foreach (var category in (List<Category>)ViewData["categories"])
						{
							<div class="swiper-slide">

								<div class="content">
									<a target="_self" href="/kategori/@category.Slug/"><img src="@category.ImageUrl" alt=""></a>
									<div class="mask"></div>

									<div class="caption">
										<a target="_self" href="/kategori/@category.Slug/"><h4>@category.Name</h4></a>
										<span>@category.Description</span>
									</div>
								</div>
							</div>
						}

						
					</div>
				</div>
			</div>
			<!-- end slider -->
			<!-- chef home -->
			<div class="chef-home segments">
				<div class="container">
					<div class="section-title">
						<img width="100%" src="@ViewData["slider-kapak"]" />
					</div>
				</div>
			</div>
			<!-- end chef home -->
			<!-- restaurant home -->
			<!-- end restaurant home -->
			<!-- popular menu -->
			<div class="popular-menu segments">
				<div class="container">
					<div class="section-title">
						<h3>
							Öne Çıkarılan Ürünler
							<a href="/popular-menu/" class="see-all-link"></a>
						</h3>
					</div>
					<div class="row">
						@foreach (var product in (List<Product>)ViewData["highProducts"])
						{
							<div class="col-30">
								<div class="content">
									<a href="/urun/@product.Slug/"><img src="@product.ImageUrl" alt=""></a>
									<div class="text">
										<a href="/urun/@product.Slug/"><h4>@product.Name</h4></a>
										<p class="price">@product.Price.Value.ToString("N2")₺</p>
									</div>
								</div>
							</div>

						}

					</div>

				</div>
			</div>
			<!-- end popular menu -->
		</div>
	</div>
</div>
