@using susamQr.Models.Entities
@model Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="views">
    <div class="view view-main">
        <div class="page">
            <div class="navbar navbar-page">
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a href="/kategori/@Model.Category.Slug/" class="link back">
                            <i class="ti-arrow-left"></i>
                        </a>
                    </div>
                  
                </div>
            </div>
            <div class="navbar navbar-home">
                <div class="navbar-inner">
                    <div class="block">
                        <div class="row text-center">
                            <div class="col-20">
                                <a href="/secim/" class="link icon-link">
                                    <i class="ti-align-left"></i>
                                </a>
                            </div>
                            <div class="col-20">
                                <a href="/kategoriler/" class="link icon-link">
                                    <i class="ti-layers"></i>
                                </a>
                            </div>

                            <div class="col-20">
                                <a href="#" id="whatsapp-link" target="_blank" class="link icon-link whatsapp">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="col-20">
                                <a href="#" id="instagram-link" class="link icon-link">
                                    <i class="ti-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <!-- menu single -->
                <div class="menu-single segments-page">

                    <div class="container">
                        <h3 class="text-body-emphasis ">@Model.Category.Name</h3>
<br />
                        <div class="header">
                            <img src="@Model.ImageUrl" alt="">
                        </div>
                        <div class="desc">
                            <p class="price">@Model.Price.Value.ToString("N2")₺</p>
                            <h4>@Model.Name</h4>
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
                <!-- end menu single -->
            </div>
        </div>
    </div>
</div>

